<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
  <body> 
 <div class="card">
    <article class="card-body">
        <hr>
        <form>
        <div class="form-group">
            <input name="" class="form-control" placeholder="Email or login" type="email">
        </div> 
        <div class="form-group">
            <input class="form-control" placeholder="new password" type="password">
        </div>  
        <div class="form-group">
            <input class="form-control" placeholder="confirm new password" type="password">
        </div>                                     
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="login2"> Login  </button>
                </div> 
            </div>                                        
        </div>                                                                   
    </form>
    </article>
    </div>
</body> 
    </html>